<h2>{{@book.title}}</h2>

<ul>
  <li>Genre: {{@book.genre}}</li>
  <li>Pages: {{@book.pages}}</li>
  <li>Language: {{@book.language}}</li>
  <li>Publisher: {{@book.publisher}}</li>
  <li>Published: {{@book.date}}</li>
  <li>ISBN: {{@book.isbn}}</li>
  <li>Average Rating: {{@book.averagerating}}</li>
  <li>Authors:
    <ul>
      {{#each @book.authors as |author|}}
        <li>{{author.name}}</li>
      {{/each}}
    </ul>
  </li>
</ul>