{{page-title "Book"}}

<BookDetails @book={{this.model}} />

<LinkTo @route="edit-book" @model={{@model}}>Edit</LinkTo>
<a href="" {{on "click" this.deleteBook}}>Delete</a>

<ReviewsList @book={{this.model}} />