{{page-title "Book"}}

<BookDetails @book={{this.model}} />

{{#if this.currentUser.isAdmin}}
  <LinkTo @route="edit-book" @model={{@model}}>Edit</LinkTo>
  <button type="button" {{on "click" this.deleteBook}}>Delete</button>
{{/if}}

{{#if this.session.isAuthenticated}}
  {{#unless this.hasUserReview}}
    <LinkTo @route="new-review" @model={{@model}}>Add a review</LinkTo>
  {{/unless}}
{{else}}
  <p><LinkTo @route="login">Log in</LinkTo> to add a review.</p>
{{/if}}

<h2>Reviews</h2>

<p>Average rating: {{@model.averagerating}}</p>

<Reviews @book={{this.model}} @onReviewExists={{this.handleReviewExists}} />