{{page-title "Book"}}

<BookDetails @book={{this.model}} />

<LinkTo @route="edit-book" @model={{@model}}>Edit</LinkTo>
<a href="" {{on "click" this.deleteBook}}>Delete</a>

{{#if this.session.isAuthenticated}}
    <a href="" {{on "click" this.navigateAddReview}}>Add a review</a>
{{/if}}

<h2>Reviews</h2>

<p>Average rating: {{@model.averagerating}}</p>

<Reviews @book={{this.model}} />