{{page-title "Book"}}

<BookDetails @book={{this.model}} />

<LinkTo @route="edit-book" @model={{@model}}>Edit</LinkTo>
<a href="" {{on "click" this.deleteBook}}>Delete</a>

<LinkTo @route="new-review" @model={{@model}}>Add a review</LinkTo>

<h2>Reviews</h2>

<p>Average rating: {{@model.averagerating}}</p>

<Reviews @book={{this.model}} />