{{page-title "Book"}}

<BookDetails @book={{this.model}} />

<LinkTo @route="edit-book" @model={{@model}}>Edit</LinkTo>
<a href="" {{on "click" this.deleteBook}}>Delete</a>

{{#if this.session.isAuthenticated}}
  <LinkTo @route="new-review" @model={{@model}}>Add a review</LinkTo>
{{/if}}

<h2>Reviews</h2>

<p>Average rating: {{@model.averagerating}}</p>

<Reviews @book={{this.model}} />