{{page-title "Edit book"}}

<div class="form">
  <label for="title">Title:</label>
  <input
    id="title"
    type="text"
    value={{@model.title}}
    {{on "input" (fn this.updateField "title")}}
  />
  {{#if this.errors.title}}
    <span class="error-message">{{this.errors.title}}</span>
  {{/if}}

  <label for="author">Author(s):</label>
  <ul>
    {{#if this.editingAuthor}}
      <EditAuthor
        @author={{this.editingAuthor}}
        @onUpdate={{this.updateAuthor}}
      />
    {{else}}
      {{#each this.authors as |author|}}
        <li>
          {{author.name}}
          <button type="button" {{on "click" (fn this.editAuthor author)}}>Edit</button>
          <button type="button" {{on "click" (fn this.removeAuthor author)}}>Remove</button>
        </li>
      {{/each}}
    {{/if}}
  </ul>

  <label for="language">Language:</label>
  <input
    id="language"
    type="text"
    value={{@model.language}}
    readonly
  />
  <select
    id="language-select"
    size="5"
    {{on "change" (fn this.updateField "language")}}
  >
    {{#each this.languages as |language|}}
      <option value={{language}}>
        {{language}}
      </option>
    {{/each}}
  </select>
  {{#if this.errors.language}}
    <span class="error-message">{{this.errors.language}}</span>
  {{/if}}

  <label for="genre">Genre:</label>
  <input
    id="genre"
    type="text"
    value={{@model.genre}}
    {{on "change" (fn this.updateField "genre")}}
  />
  {{#if this.errors.genre}}
    <span class="error-message">{{this.errors.genre}}</span>
  {{/if}}

  <label for="pages">Pages:</label>
  <input
    id="pages"
    type="number"
    value={{@model.pages}}
    {{on "change" (fn this.updateField "pages")}}
  />
  {{#if this.errors.pages}}
    <span class="error-message">{{this.errors.pages}}</span>
  {{/if}}

  <label for="publisher">Publisher:</label>
  <input
    id="publisher"
    type="text"
    value={{@model.publisher}}
    {{on "change" (fn this.updateField "publisher")}}
  />
  {{#if this.errors.publisher}}
    <span class="error-message">{{this.errors.publisher}}</span>
  {{/if}}

  <label for="date">Published on:</label>
  <input
    id="date"
    type="date"
    value={{this.published}}
    {{on "change" (fn this.updateField "date")}}
  />
  {{#if this.errors.date}}
    <span class="error-message">{{this.errors.date}}</span>
  {{/if}}

  <label for="isbn">ISBN:</label>
  <input
    id="isbn"
    type="text"
    value={{@model.isbn}}
    {{on "change" (fn this.updateField "isbn")}}
  />
  {{#if this.errors.isbn}}
    <span class="error-message">{{this.errors.isbn}}</span>
  {{/if}}

  <button type="button" {{on "click" this.saveBook}}>Save changes</button>
  <button type="button" {{on "click" this.cancel}}>Cancel</button>
</div>
