<h2>Add a new book</h2>

<div class="form">
  <label for="title">Title:</label>
  <input id="title" type="text" {{on "input" (fn this.updateField "title")}} />

  <label for="genre">Genre:</label>
  <input id="genre" type="text" {{on "input" (fn this.updateField "genre")}} />

  <label for="pages">Pages:</label>
  <input id="pages" type="number" {{on "input" (fn this.updateField "pages")}} />

  <label for="language">Language:</label>
  <input id="language" type="text" {{on "input" (fn this.updateField "language")}} />

  <label for="publisher">Publisher:</label>
  <input id="publisher" type="text" {{on "input" (fn this.updateField "publisher")}} />

  <label for="date">Published on:</label>
  <input id="date" type="date" {{on "input" (fn this.updateField "date")}} />

  <label for="isbn">ISBN:</label>
  <input id="isbn" type="text" {{on "input" (fn this.updateField "isbn")}} />

  <button type="button" {{on "click" this.addBook}}>Add Book</button>
</div>
